<div class="review-box">
  <ng-container *ngIf="isEdit">
    <input type="text" class="name" placeholder="Your name" [(ngModel)] ="review.title">

    <input type="text" class="text" placeholder="Your comment" [(ngModel)]="review.text">
<div class="bottom">
  <button (click)="changeReview()">{{isNew ? 'Add' : 'Save'}}</button>
</div>



  </ng-container>


  <ng-container *ngIf="!isEdit">

    <div>
      <div class="icons">
        <span (click)="delete()"> <img src="/assets/delete.svg" alt=""></span>
        <span (click)="edit()"><img src="/assets/edit.svg" alt=""></span>
      </div>
      <div class="data-container">
        <div class="img">
          <div class="tooltip">******
            <span class="tooltiptext">{{review.title}}</span>
          </div></div>
        <div class="data">
          <span> <b>{{review.title}}</b></span>
          <span>{{review.text}}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
