virtual-scroller {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}


.item{
  padding-left: 15px;
  position: relative;
    .text{
      padding: 15px 0;
      margin: 0;
    }
    .speaker{
      padding: 10px 0;
      font-size: 18px;
      color: white;
    }

}
.progress {
  will-change: height;
  position: absolute;
  left: 0;
  width: 3px;
  top: 0;
  background-color: #e91e63;
}

